.bg-image {
    background-image: url("../assets/bg-img.jpg");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 100vh;
}
.text-white{
    color: white;
    text-decoration: none;
}
.logo{
    width: 20%;
}
@media screen and (max-width: 600px) {
    .logo{
        width: 30%;
    }
}
.login-btn {
  background-color: #132a53;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #213b6b;
}

.div-bg1{
    width: 2488.277px;
    height: 371.701px;
    transform: rotate(-15.633deg);
    flex-shrink: 0;
    background-color: #005999;
}